*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Игнорировать папку docker-starter (сабмодуль)
docker-starter/*
!docker-starter/.gitmodules

# Игнорировать контейнерные данные, логи, временные файлы внутри docker-starter
/docker-starter/db_data/
/docker-starter/logs/
/docker-starter/.docker/

# Игнорировать Laravel
/vendor/
storage/*
/node_modules/

# Логи
/storage/logs/*
